<section class="overlay-section">
  <div class="overlay-container">
    <img
      src="/images/bg-2.jpg"
      alt="Romantic Couple"
      class="overlay-image"
    />
    <div class="overlay-text-2">
      <h2>Sed urna orci, pretium ac nibh eu, commodo cursus enim?</h2>
      <h1><a href="your-link.html">ENQUIRE NOW</a></h1>
    </div>
  </div>
</section>
<footer>
  <div class="footer-container">
    <div class="footer-social">
      <h3>SOCIAL</h3>
      <ul>
        <li><a href="#">INSTAGRAM</a></li>
        <li><a href="#">FACEBOOK</a></li>
        <li><a href="#">YOUTUBE</a></li>
      </ul>
    </div>

    <div class="footer-logo">
      <div class="logo">
          <img src="/images/logo_footer.png" alt="2groom.art" />
        </div>
    </div>

    <div class="footer-explore">
      <h3>EXPLORE</h3>
      <ul>
        <li><a href="/gallery">GALLERY</a></li>
        <li><a href="pakages">PACKAGES</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
  <div class="slogan">
    <p>LET'S SAVING MEMORIES</p>
  </div>

  <div class="footer-bottom">
      <p>
        TWOGROOMS.ART © 2025 <span>|</span> <a href="#">PRIVACY POLICY</a>
      </p>
  </div>
</footer>